body {
    background: DeepSkyBlue;
    color: Indigo;
    font-size: 15px;
  }
  
  h1 {
    background: Navy;
    color: white;
    font-size: 20px;
    padding: 2px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 5px;
  }
  
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
      background: PaleTurquoise;
      color: MidnightBlue;
      font-size: 20px;
    }
    
    h1 {
      background: DodgerBlue;
      color: Darkblue;
      font-size: 25px;
      padding: 3.5px;
    }
    
    ul {
      list-style-type: square;
    }
    
    table, th, td {
      border: 1px solid DodgerBlue;
      border-collapse: collapse;
    }
    
  }
  
  @media screen and (min-width: 1024px) {
    body {
      background: OldLace;
      color: SandyBrown;
      font-size: 25px;
    }
    
    h1 {
      background: Tan;
      color: white;
      font-size: 30px;
      padding: 5px;
    }
    
    ul {
      list-style-type: Circle;
    }
    
    th, td {
      border: 1px solid Tan;
      border-radius: 10px;
      text-align: center;
    }
    
    table {
      border: none;
    }
  }